
@import url('https://fonts.googleapis.com/css2?family=Bytesized&family=DM+Serif+Display:ital@0;1&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Noto+Sans+JP:wght@100..900&family=Oswald:wght@200..700&family=Stack+Sans+Notch:wght@200..700&family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap');

*{
    margin: 0%;
    padding: 0%;
}
body{
    background-color:#37438a;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 159px;
    width: 410px;
    border-radius: 15px;
    font-weight: 600;
    color: white;
    background: rgb(58 94 181 / 40%); /* semi-transparent blue */
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37); /* soft glass shadow */
    /* frosted glass blur */
    -webkit-backdrop-filter: blur(12px) saturate(180%);
    /* subtle white border */
    text-align: center;
}

.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 200vh;
    
    
    
}
.clock{
    display: flex;
    justify-content: center;
    font-size: 28px;
    font-family: "Stack Sans Notch";
    width: 200px;
}
 .container::before{
    content:'';
    width:148px;
    height: 109px;
    background: #e43d76;
    border-radius: 5px;
    position: relative;
    left:-61px;
    top: -65px;
    z-index: -1;
    
} 
.container::after{
    content: '';
    width: 136px;
    height: 124px;
    background-color: greenyellow;
    border-radius: 50%;
    position: relative;
    z-index: -1;
    left: 51px;
    top: 59px;
}